@import "tailwindcss";

:root {
  --bg-color: #1a202c;
  --text-color: #edf2f7;
  --accent-color: #4fd1c5;
  background: url(https://plus.unsplash.com/premium_photo-1727363543732-2892b5dd07ba?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}