#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/*
=============== 
Global Styles
===============
*/

:root {
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-primary: #d23669;
}

.dark-theme {
  --clr-bcg: #282c35;
  --clr-font: #fff;
  --clr-primary: #ffa7c4;
}
.light-theme {
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-primary: #d23669;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-bcg);
  color: var(--clr-font);
  line-height: 1.5;
  font-size: 0.875rem;
  transition: all 0.3s linear;
}

/*
=============== 
Navbar
===============
*/
.nav-center {
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.nav-center h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border: solid var(--clr-primary);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.articles {
  padding: 5rem 0;
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
}
.post {
  margin-bottom: 3rem;
}
.post h2 {
  color: var(--clr-primary);
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 1.75rem;
}
.post-info {
  margin-bottom: 0.75rem;
  font-style: italic;
}
.post-info span {
  margin-right: 0.5rem;
}

.btn {
  background: var(--clr-primary);
  color: var(--clr-bcg);
  padding:10px 15px;
  border-radius: 5px;
  border-color: transparent;
  text-transform: capitalize;
  transition: all 0.3s linear;
  font-size: large;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
